<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Provincial Forests</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css"> -->
    {% block head %}{% endblock %}
</head>
<body>
    <h1>Provincial Forest Tracker</h1>
    <h2>{{ prov_forest }}</h2>
    {% if forest_number %}<h4>Provincial Forest #{{ forest_number }}</h4>{% endif %}
    {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{category}}">{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var url = 'http://127.0.0.1:5001/GUI-is-still-open'; 
            fetch(url, { mode: 'no-cors'});
            setInterval(function(){ fetch(url, { mode: 'no-cors'});}, 5000)();
        });
    </script>
</body>
</html>
