{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='add.css') }}">
{% endblock %}


{% block body %}

<form method="POST">
    <label for="pft"> PF Tracking Number: </label>
    <input type="text" name="pft" value="{% if pft_to_update.prov_forest_tracking_num %}{{ pft_to_update.prov_forest_tracking_num }}{% endif %}" readonly>
    <br>
    <label for="date_rec"> Date Received: </label>
    <input type="date" name="date_rec" placeholder="YYYY-MM-DD" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" title="YYYY-MM-DD" value="{% if pft_to_update.date_received %}{{ pft_to_update.date_received}}{% endif %}">
    <br>
    <label for="lands_file"> Lands File Number: </label>
    <input type="text" name="lands_file" value="{% if pft_to_update.lands_file %}{{ pft_to_update.lands_file }}{% endif %}">
    <br>
    <label for="area"> Area (hectares): </label>
    <input type="number" step="any" name="area" value="{% if pft_to_update.ha_deleted %}{{ pft_to_update.ha_deleted}}{% endif %}">
    <br>
    <label for="legal"> Legal Description: </label>
    <textarea name="legal" id="legal" rows="3" cols="50">{% if pft_to_update.legal_description %}{{ pft_to_update.legal_description }}{% endif %}</textarea>
    <br>
    <label for="purpose"> Purpose: </label>
    <textarea name="purpose" id="purpose" rows="3" cols="50">{% if pft_to_update.purpose %}{{ pft_to_update.purpose }}{% endif %}</textarea>
    <br>
    <label for="notes"> Notes: </label>
    <textarea name="notes" id="notes" rows="3" cols="50">{% if pft_to_update.notes %}{{ pft_to_update.notes }}{% endif %}</textarea>
    <br>
    <label for="doc_type"> Document Type: </label>
    <select name="doc_type">
        <option value=""></option>
        <option value="MO" {% if pft_to_update.document_type=='MO' %} selected="selected" {% endif %}>MO</option>
        <option value="OIC" {% if pft_to_update.document_type=='OIC' %} selected="selected" {% endif %}>OIC</option>
    </select>
    <br>
    <label for="del_num"> Deletion Number: </label>
    <input type="number" name="del_num" value="{% if pft_to_update.deletion_number %}{{ pft_to_update.deletion_number}}{% endif %}">
    <br>
    <label for="date_signed"> Date Signed: </label>
    <input type="date" name="date_signed" placeholder="YYYY-MM-DD" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" title="YYYY-MM-DD" value="{% if pft_to_update.date_signed %}{{ pft_to_update.date_signed}}{% endif %}">



    <br>
    <input type="submit" name="add_record" class="action_btn" value="Submit">
    <input type="submit" form="cancelForm" value="Cancel" class="action_btn">
</form>
<form id="cancelForm" action="{{ request.referrer }}">
</form>

{% endblock %}