[DEFAULT]
geobc_lib = \\spatialfiles.bcgov\ilmb\dss\dsswhse\Tools and Resources\Scripts\Python\Library
pmbc = WHSE_CADASTRE.PMBC_PARCEL_FABRIC_POLY_SVW
prov_forest_deletions = WHSE_ADMIN_BOUNDARIES.FADM_PROV_FOREST_DELETION